@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
    --primary-color: #1D12D3;
    --secondary-color: #FFFFFF;
    --accent1-color: #FFDA27;
    --accent2-color: #696E57;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #696E57;
    --nav-hover-link-color: #1D12D3;
    --nav-hover-background-color: #FFDA27;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Roboto);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

article {
    max-width: 600px;
    position: relative;
    border: 10px solid red;
}

article img {
    width: 100%
}

article h2 {
    position: absolute;
    top: 20px;
    right: 100px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

