@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
    --primary-color: #1D12D3;
    --secondary-color: #FFFFFF;
    --accent1-color: #FFDA27;
    --accent2-color: #696E57;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif; 

    --nav-background-color: #FFFFFF;
    --nav-link-color: #696E57;
    --nav-hover-link-color: #1D12D3;
    --nav-hover-background-color: #FFDA27;
}

body{
    font-family: var(--Roboto);
    max-width: 960;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Roboto);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}